<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac War</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <select id="roomSelector">
    <option value="room-1">Room 1</option>
    <option value="room-2">Room 2</option>
  </select>

  <select id="heroSelector">
    <option value="warrior">Warrior</option>
    <option value="mage">Mage</option>
    <option value="hunter">Hunter</option>
    <option value="rogue">Rogue</option>
    <option value="warlock">Warlock</option>
    <option value="priest">Priest</option>
    <option value="pirate">Pirate</option>
    <option value="paladin">Paladin</option>
    <option value="ninja">Ninja</option>
  </select>

  <button id="enter" class="test">Enter</button>

  <div id="indication1"></div>
  <div id="indication2"></div>

  <div class="progress">
    <div class="progress-bar"></div>
  </div>

  <div id="wrapper">
    <div id="heroArea2"><img id="icon2" alt=""></div>
    <div class="energy2">
      <div class="energy-bar2"></div>
    </div>
    <table id="panel"></table>
    <div class="energy1">
      <div class="energy-bar1"></div>
    </div>
    <div id="heroArea1"><img id="icon1" alt=""></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="ts-js/game.js"></script>
  <script src="ts-js/hero.js"></script>
  <script src="ts-js/player.js"></script>
  <script src="ts-js/board.js"></script>
  <script src="ts-js/subBoard.js"></script>
  <script src="ts-js/move.js"></script>

  <script src="functions/initialize.js"></script>
  <script src="functions/moveProcedures.js"></script>
  <script src="functions/useHeroPower.js"></script>
  <script src="functions/socketHandler.js"></script>
  <script>
  </script>
</body>
</html>